
$dark1: #f7f9fc;
$dark2: #ffffff;
$light1: #004dfc;
$light2:#d4e1ff;
$teal: #54BFBF;
$text-primary: #112940;

$bgBoard: #f8f8f8;
$bgModal: #fbfcff;
$bgInput: #ffffff;

$color-yellow: #fdb827;
$color-yellow2: #fac95e;
$color-purple: #542583;
$color-gray: #d5d7da;
$color-gray2: #868ea2;

$font: 'Open Sans', Arial, sans-serif;
$font-heading: 'Baloo Bhai', cursive;
