.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px 20px 0px 48px; 
    background-color: #f8f8f8;
    h2 {
        font-family: $font-heading;
        font-size: 2em;
        color: $color-purple;
        align-self: center;
        margin-left: 10px;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    color: $color-yellow;

    .logo-icon {
        // display: flex;
        // justify-self: center;
        // align-items: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("/assets/logo.png");
        width: 64px;
        height: 64px;
    }
}

.fa-wolf-pack-battalion {
    color: $light2;
}

.fa-bars {
    color: $light2;
    align-self: center;
    cursor: pointer;
}

.menu {
    display: none;
}

.visible {
    display: flex;
    flex-direction: column;
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: $light2;
    padding: 30px 20px;
    color: $dark2;
    span {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 1.5em;
        font-family: $font-heading;
    }
    a:hover {
        text-decoration: underline;
    }
}